<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>rhel7 httpd</title>
</head>
<body>
  <h1>RHEL 7</h1>
  <p>httpd golden image (packer + ansible).</p>
  <p>web: {{ httpd_service_name }}</p>
</body>
</html>
